.header{
  width: 100%;
  height: 100px;
  background: darkolivegreen;
  .logo{
    width: 100px;
    height: 100px;
    float: left;
    border: 1px solid red;
  }
  .menu{
    width:80%;
    float: right;
  }
}